<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/owl.carousel.css" />
    <include path="~/Content/owl.transitions.css" />
    <include path="~/Content/owl.theme.css" />
    <include path="~/Content/font-awesome.css" />
    <include path="~/Content/animate.min.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>
