<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

  </configSections>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="FromInfoAddress" value="info@skills4hire.com.ng" />
    <add key="FromAccAddress" value="accounts@skills4hire.com.ng" />
    <add key="FromNoreplyAddress" value="noreply@skills4hire.com.ng" />
    <add key="FromName" value="Skills4Hire" />
    <add key="ToAddress" value="info@skills4hire.com.ng" />
    <add key="ToMiscAddress" value="misc@skills4hire.com.ng" />
    <add key="ToName" value="Customer Service" />
    <add key="SendMailOnError" value="true" />
  </appSettings>

  <system.webServer>

  </system.webServer>

  <system.web>
    <globalization culture="fr-FR" uiCulture="auto" enableClientBasedCulture="true" />
    <customErrors mode="Off" defaultRedirect="~/Errors/OtherErrors.aspx" redirectMode="ResponseRewrite"> <!-- change-->
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Account/Login.aspx" protection="All" timeout="40320" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" /> <!-- change-->
    <httpRuntime targetFramework="4.5" />
    
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="LocalMySqlServer" />
      </providers>
    </sessionState>
  <pages>
    <namespaces>
      <add namespace="System.Web.Optimization" />
    </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls>
	</pages></system.web>
  



  <system.data>
    
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
    
  </system.data>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- 
DEVELOPMENT SERVER CONNECTION STRING-->
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="server=localhost;database=skillsforhireprod;uid=root;pwd=Okey1984;" providerName="MySql.Data.MySqlClient" />
    <add name="skillsforhireEntities" connectionString="metadata=res://*/Skills4Hire.csdl|res://*/Skills4Hire.ssdl|res://*/Skills4Hire.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Okey1984;persistsecurityinfo=True;database=skillsforhireprod&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--production server connection string-->
  <!--<connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="server=98.102.204.204;database=db_Skills4Hire;uid=ponokwai;pwd=Bendel#84;" providerName="MySql.Data.MySqlClient"/>
    <add name="skillsforhireEntities" connectionString="metadata=res://*/Skills4Hire.csdl|res://*/Skills4Hire.ssdl|res://*/Skills4Hire.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=98.102.204.204;user id=ponokwai;password=Bendel#84;persistsecurityinfo=True;database=db_Skills4Hire&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->

  <location path="MyProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CandidateProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="JobDetail.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->
  <location path="MySavedJobs.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PostAJob.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>


  <location path="MyJobPosts.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Donate.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="RenewSubscription.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <!--<location path="GuardianJobDetails.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->

  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>



  <system.net>
    <mailSettings>
      <!--Development server-->
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="Skills4Hire Website &lt;info@skills4hire.com.ng&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail" />
      </smtp>
      
      <!--Production server-->
      <!--<smtp>
        <network host="SMTP.skills4hire.com.ng" userName="info@skills4hire.com.ng" password="DiamondPatch#16" />
      </smtp>-->        
      
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
